@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {

    main {
        width: 100%;
    }

    header {
        display: flex;
        align-items: baseline ;
        border-bottom: solid 3px #f2f2f2;
        width: 100%;
    }

    #logo {
    padding: 0 0 0 1.5rem; 
    margin: 0;
    position: relative;
    top: 1rem;;
    }

    nav ul {
        
        display: flex;
        padding: 0;
        margin-left: 10rem;
    }

    nav ul li {
        margin-bottom: 0;      
    }
    
    nav ul li a {
        margin-bottom: 0;
        font-size: 1em;   
    }

    .li_host {
        padding: 0 0 1rem 0;
        border-top: none;
        border-bottom: solid 3px #0065FC;
        position: relative;
        bottom: -3px;
        font-size: 1em;   
    }

    .li_act {
        padding: 0 0 1rem 0;
        position: relative;
        bottom: -4px;

    }

    .li_subscribe {
        padding: 0 0 1rem 0;
        position:relative;
        bottom: -4px;
    }


    #intro {
        text-align: center;
        margin-top: 4rem;;
    }

    #searchBar{
        display: flex;
        justify-content: center;
        margin: 5rem 0 2.5rem 0;
    }

    .filter_title {
        display: none;
    }

    #filter_flex{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }

    .btn_filtre {
        margin-bottom: 0.8rem;;
    }

    .category_filter {
    height: 1.8rem;
    padding: 0 0.5rem;
    font-size: 0.85em;
    }

#infos {
    margin-top: 0;
    justify-content: center;
    
}
    #infos p{
    text-align: center;
}

#results {
    display: flex;
    flex-direction: column-reverse;
}

#results_p {
    display: flex;
    flex-direction: row;
}

.h_pop_text {
    display:grid;
    grid-template-rows: 0.5fr 0.25fr 0.25fr;
    height: 100%;
    width: 100%;

}
.card_pop_title{
font-size: 0.8rem;
}

.h_pop_price {
    font-size : 0.7rem;
}

h_card_pop {
    height: 100%;
}

#a_popular{
    border-radius: 0;
    background-color: #f2f2f2;
}
    #s_host {
        background-color: #fff;
        padding:1.5rem;
        margin-right: 0;
    }

    .card_act {
        margin: auto;
    }

    #s_activities {
padding: 1.5rem;
    }

    
.f_bg {
    max-width:100%;
}

footer {
    width: 100%;
}

#f_about, #f_assistance, #f_hosting {
    padding-left: 1.5rem;
}

  }