/* ----- FONTS ----- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');

/* ----- HEADER ----- */
/* bleu foncé #0065FC bleu clair #DEEBFF gris #F2F2F2  */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 1340px;
}

header {
    display:flex;
    justify-content: space-between;
}

#logo {
    margin-top: 2rem;
    
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

nav li {
    font-size: 1em;
    font-weight: 400;
    padding-top: 2.5rem;
    padding-inline-start: 0;
    margin-left: 1.85rem;
}

nav ul li a {
    text-decoration: none;
    color: #0065FC;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0 0.9rem 0 0.9rem;
}

.li_act a {
    color: black;  
    font-size: 1em;
}

.li_host {
    color: #0065FC;
    font-size: 1em;
    border-top: solid 2px #0065FC;
    padding: 2.2rem;
}

.li_subscribe {
    color: #0065FC;
    font-size: 1em;
    font-weight: bold ;
}
nav ul li a:hover {
    color: #0065FC;
    border-top: solid white;
}

nav ul li:hover {
    color: #0065FC;
    
}

h1 {
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-top: 1.9rem;
    
}

#intro p {
    font-size: 1em;
    font-weight: 500;
    margin: 0.6rem 0;
}

#searchBar {
    padding-top: 0.3rem;
    display: flex; 
}

#loc {
    background-color: #f2f2f2 ;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 0.9rem 0 0 0.9rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

#btn_search{
    display:flex;
    justify-content:center;
}

input{
    border-right: none;
    border-left: none;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1.25rem;
    width: 14.7rem;
    background-color: white;
}
::placeholder {
    font-weight: 700;
    color: black;
}

.btn_search_mobile{
    display:none;
}

#search {
    background-color: #0065FC ;
    height: 3.2rem;
    width: 8.4rem;
    padding: 0;
    border: solid 2px #0065FC;
    border-radius: 0  0.6rem  0.6rem 0;
    color: white;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}


#loc:hover {
    cursor:pointer;
}

#search:hover {
    cursor:pointer;
    background-color: #DEEBFF;
    color: #0065FC;
    border: solid 2px #f2f2f2;
    
}

/* ----- FILTERS ----- */

#filter {
    display: flex;
    align-items: baseline;
    text-transform: capitalize;
}

#filter h2 {
    
    font-family: "Raleway", sans sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    padding-top: 1.9rem;
    padding-left: 0.4rem;
    margin-right: 1.9rem;
}

#filter_flex{
    display: flex;
}


#filter .category_filter a{
    font-family: "Raleway", sans sans-serif;
    font-weight: 900; 
    font-size: 1.1em; 
    text-decoration: none;
    color: black ;
    letter-spacing: -1px;
}
.category_filter {
    border:none;
    height:2.8rem;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 1.25rem;
    font-family: "Raleway", sans sans-serif;
    font-weight: 900;
    font-size: 1.1em;
}

#filter i{
    display: flex;
    color: #0065FC;
    background-color: #DEEBFF ;
    border-radius: 1.55rem;
    width: 2.8rem;
    height: 2.8rem;
    margin: -2px;
    justify-content: center;
    align-items: center;
}

.fa, .fas {
    font-weight: 900;
}

#eco button  {
    text-transform: capitalize;
}

#eco, #famille, #couples, #animaux {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: solid 2px #f2f2f2;
    box-sizing: border-box;
    border-radius: 1.55rem;
    margin-right:1.55rem;
    transition: transform .2s;
    
}

#filter i:hover {
    color:#DEEBFF;
    background-color: #0065FC;
}

#eco:hover, #famille:hover, #couples:hover, #animaux:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.category_filter:hover {
    color: #0065FC;
    cursor:pointer;
}

#infos {
    display:flex;
    align-items: baseline;
    margin-top:1.9rem;
    margin: 1.9rem 0;
    
}

#infos i{
    display: flex;
    color: #0065FC;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    border: solid 3px #f2f2f2;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.7em;
}

#infos p {
    padding-left: 0.3rem;
}

/* ----- HEBERGEMENTS MARSEILLE ----- */

#results {
    display: flex;
    border-radius: 0.9rem;
    
}


#s_host {
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 0.9rem;
    margin-right: 3.2rem;
    padding: 2.2rem 1.9rem;
}

#a_popular{
    margin-top: 0;
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 0.9rem;
    padding: 2.2rem 1.9rem;
}

#results a {
    text-decoration: none;
    color: black;  
    font-size: 1em;
    
}

#results_h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.9rem;
    grid-auto-rows: minmax(6.25rem, auto);
    margin-top:1.55rem;
}

.h_cards {
    border-radius: 0.9rem;
    padding: 0.3rem;
    background-color: #fff;
    transition: transform .5s;
}


.cards_wrap {
    max-width: 100%;
    width: 100%;
    max-height: 6.9rem;
    object-fit: cover;
    border-radius: 0.9rem 0.9rem 0 0;
}

.a_img_desc {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#title_popular {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
#title_popular h2 {
    margin-top: 0;
    font-size: 1.4rem;
}

.h_pop_text {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.img_wrap_populaire {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.6rem 0 0 0.6rem;
}

.h_card_pop {
    background-color: white;
    border-radius: 0.9rem;
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    padding:0.3rem;
    transition: transform .5s;
}

.shadow {
    box-shadow: -0.3rem 0.3rem 0.6rem #c2c2c2;
    
}

.title {
    font-size: 1.35em;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#results_p {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.9rem;
}

.h_popular {
    padding-left: 1.25rem;
    width: 70%;
    padding-top: 0.6rem;
}
.photo_populaire {
    max-height: 8.75rem;
}

.card_bold_title {
    font-family: "Raleway", sans sans-serif;
    font-weight:900;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card_pop_title {
    margin-bottom: 0.3rem;
}

.card_legend_padding{
    padding-left: 0.6rem;
    
}

.card_desc {
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-block-end: 0;
}

.h_pop_price {
    margin-top:0;
}

.rating_stars .fa-star {
    padding-top: 0;
    color: #f2f2f2;
    font-size: 0.7em;
}


.rating_stars .checked {
    color: #0065FC;
    font-size: 0.7em;
}

.rating_stars_pop {
    align-self: end;
}

.h_cards:hover, .h_card_pop:hover {
    transform: scale(1.05);
    cursor:pointer;
}

#more {
    font-family: "Raleway", sans sans-serif;
    font-size: 1em;
    font-weight: 900;
    margin-top: 2.5rem;
}   

/* SECTION ACTIVITIES */

#s_activities {
    margin-top:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 8rem 2rem 2rem 2rem 3rem 1rem 2rem;
    grid-gap: 1rem;
    
}

#s_activities article {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 1.25rem;
    
}

#s_activities h2{
    grid-column: 1/5;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0.9rem 1.25rem;
    font-size: 1.5rem;
}

#s_activities h3{
    padding-left:0.5rem;
}

.card_act {
    transition: transform .5s;
}

.shadow_act {
    background-color: #fff;
    border-radius: 0 0 0.9rem 0.9rem;
    box-shadow: -0.3rem 0.3rem 0.6rem #c2c2c2;
    margin-top: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#s_activities article img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.9rem 0.9rem 0 0;
}

#a_box1{
    
    grid-column: 1/2;
    grid-row: 2/9;
}

#a_box2{
    
    grid-column: 2/3;
    grid-row: 2/4;
}

#a_box3{
    
    grid-column: 3/4;
    grid-row: 2/9;
    
}

#a_box4{
    grid-column: 4/5;
    grid-row: 2/3;
}

#a_box5{
    
    grid-column:2/3;
    grid-row:  5/8;
}

#a_box6{
    grid-column: 4/5;
    grid-row: 4/8;
    
}
.card_act:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

/* FOOTER */

.f_bg{
    background-color: #f2f2f2;
    margin-top: 2rem;
    padding-top: 2rem;
}

footer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin: 0 auto;
    width: 1340px;
    padding-bottom: 3rem;
}

footer h4{
    padding-left: 0; 
}

footer a {
    text-decoration: none;
    color: black;  
    font-size: 1em;
}

footer ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
footer ul li {
    list-style: none;
    padding: 0%;
}

#f_about ul{
    flex-direction: column;
    
}

#f_hosting ul {
    flex-direction: column;
}

#f_assistance ul {
    flex-direction: column;
}

footer a:hover {
    text-decoration: underline;
}