@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "raleway";
}
#searchBar {
    display: flex; 
}

#loc {
    background-color: #f2f2f2 ;
    height: 40px;
    width: 40px;
    border-radius: 10px 0 0 10px;
    display:flex;
    justify-content:center;
    align-items:center  
}

#btn_search{
    display:flex;
    justify-content:center;
    align-items:center
    padding-left: 10px;
}

input{
    border-right: none;
    border-left: none;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
  }

#search {
    background-color: #0065FC ;
    height: 40px;
    width: 100px;
    border: solid 2px #0065FC;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
}
    
    

